body {
  background: url("/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.opaque {
  opacity: 0.9;
}

.pkmn-card-odd {
  width: 50%;
  transform: rotate(-15deg);
  position: relative;
  z-index: 3;
}

.pkmn-card-even {
  width: 50%;
  position: relative;
  right: 10%;
  transform: rotate(15deg);
  z-index: 1;
}

.pkmn-card-img {
  float: left;
  width: 200px;
}
.vote-btn {
  border: white solid 2px;
}
.btn.active {
  border: black inset 2px;
}

.btn-success {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 100;
  /* border-radius: 4px; */
}
